---
import FrivilligKnap from "./FrivilligKnap.astro";
import Burgermenu from "./Burgermenu.astro";
---

<section class="hero">
  <nav>
    <div class="logo"></div>
    <div class="navigation"><Burgermenu /></div>
  </nav>
  <article class="hero_title_container">
    <h1>Hjælp de hjemløse Gør en forskel</h1>
    <FrivilligKnap />
  </article>
</section>
<section class="advice_section">
  <div class="advice_arrow_left"><p>&#10148;</p></div>
  <div class="advice_arrow_right"><p>&#10148;</p></div>
  <article class="purpose_section">
    <h2>Formål</h2>
    <p>Hjælpe hjemløse og udsatte med støtte, fælleskab og trivsel.</p>
  </article>
  <article class="purpose_section">
    <h2>Forventninger</h2>
    <p>Vær tålmodig, stabil og brug 4-6 timer om måneden.</p>
  </article>
  <article class="purpose_section">
    <h2>Fordele</h2>
    <p>Gør en forskel, skab relationer og få støtte samt kurser.</p>
  </article>
</section>

<style>
  .hero {
    background-image: url("../assets/heroimg.svg");
    background-size: cover;
    background-position: 70%;
    width: 100%;
    height: 550px;
    margin: 0;
    top: 0;
    color: var(--primary);
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: linear-gradient(rgba(0, 0, 0, 0.578), rgba(255, 255, 255, 0));
  }

  .logo {
    width: 150px;
    height: 23px;
    background-image: url("/images/WeShelterlogo.svg");
    background-size: 150px;
    justify-content: left;
  }

  .hero_title_container {
    color: var(--primary);
    width: 260px;
    padding-top: 200px;
    margin-left: 60px;
  }

  .hero_title_container h1 {
    font-family: var(--anton);
    font-size: 2rem;
    letter-spacing: 1px;
    margin-bottom: 15px;
  }

  .advice_section {
    background-color: var(--secondary);
    color: var(--primary);
    padding-top: 2em;
    padding-right: 90px;
    padding-left: 25%;
    padding-bottom: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 6em;
    overflow-x: auto;
    overflow-y: hidden;
  }

  .advice_section::-webkit-scrollbar {
    width: 0;
  }

  .advice_arrow_left {
    position: absolute;
    left: 0;
    background-color: var(--secondary);
    padding: 20px;
    padding-right: 40px;
    padding-left: 40px;
  }

  .advice_arrow_left p {
    font-size: 25px;
    transform: scale(-1, 1);
  }

  .advice_arrow_right {
    position: absolute;
    right: 0;
    background-color: var(--secondary);
    padding: 20px;
    padding-right: 40px;
    padding-left: 40px;
  }

  .advice_arrow_right p {
    font-size: 25px;
  }

  .advice_section article {
    min-width: 280px;
    height: 100%;
    margin: auto;
  }

  .advice_section article h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }

  .advice_section article p {
    font-size: 1em;
    line-height: 1.4em;
  }

  @media (width > 770px) {
    .hero {
      background-position: 0;
      width: 100%;
      height: 650px;
    }

    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .logo {
      margin-left: 20px;
    }

    .navigation {
      margin-right: 20px;
    }

    .hero_title_container {
      width: 400px;
      padding-top: 250px;
      margin-left: 100px;
    }

    .hero_title_container h1 {
      font-family: var(--anton);
      font-size: 3rem;
      letter-spacing: 1px;
      margin-bottom: 15px;
    }

    .advice_section {
      padding: 20px;
      padding-bottom: 40px;
      overflow: hidden;
    }

    .advice_arrow_left,
    .advice_arrow_right {
      display: none;
    }

    .advice_section article {
      width: 200px;
    }
  }
</style>
