---
import SignUp from "./SignUp.astro";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Bliv Frivillig</title>

		<!-- Basic HTML BODY system with CSS Grid style -->
		<link rel="stylesheet" href="./style_flex.css" />
	</head>
	<body>
		<!-- <h1 class="title"><span>THE MOST COMPLETE</span> <br />CSS GRID SYSTEM</h1> -->
		<header class="header">
			HEADER
			<!-- <section class="">Headder cont.</section> -->
		</header>
		<main class="main">
			MAIN
			<!-- <section class="">Main cont.</section> -->
			 
			<!-- Frivillig tilmelding -->
			<SignUp></SignUp>
			
		</main>
		<footer class="footer">
			FOOTER
			<!-- <section class="">Nav cont.</section> -->
		</footer>
	</body>
</html>


<style>
     /* GOOGLE FONTS */
/* Work Sans Font */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
/* Anton Font */
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
/* Lalezar Font */
@import url("https://fonts.googleapis.com/css2?family=Lalezar&display=swap");

:root {
	/* FARVER SÆT */
	--primary: #f2ebe5;
	--light-primary: #fffbf7;
	--secondary: #1e0a08;
	--light-secondary: #ffffff;
	--accent: #256af6;

	/* FONT SÆT */
	--anton: "Anton", sans-serif;
	--work-sans: "Work Sans", sans-serif;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Work Sans", sans-serif;
}
h1 {
	font-size: 70px;
}
h2 {
	font-size: 50px;
}
h3 {
	font-size: 28px;
}
h4 {
	font-size: 18px;
}
h5 {
	font-size: 14px;
}
p {
	font-size: 18px;
	font-weight: 400;
}
a {
	font-size: 18px;
	cursor: pointer;
}
button {
	/* font-size: 1rem; */
	cursor: pointer;
}
body {
	width: 100vw;
	height: 100%;

	display: grid;
	/* grid-template-columns: 1fr 5fr 1fr; */
	grid-template-columns: auto;
	grid-template-rows: 60px auto auto;
	grid-template-areas:
		"header"
		"main"
		"footer";
}
.header {
	grid-area: header;
	background-color: var(--light-primary);
}
.main {
	grid-area: main;
	background-color: var(--light-primary);
}
.footer {
	grid-area: footer;
	background-color: var(--secondary);
}

</style>